<section class="l-pageGuest" id="js-scroll-02">
<h3 class="c-common-headline c-common-headline--guest">解説・実況者 一覧</h3>
<div class="c-pageGuest">
<ul class="c-guestList">
<li class="c-guestList__item c-guestList__item--text">
<p class="c-guestList__title">解説</p>
</li>
<% for (var i = 0; i < commentator.length; i++) { %>
<li class="c-guestList__item">
<div class="js-dialog">
<button class="js-dialog-open c-guestList__dialog">
<div class="c-guestList__image">
<img alt="<%= commentator[i].name %>" src="/img/special/camp-report2025/<%= commentator[i].image %>" />
<p class="c-guestList__text"><%= commentator[i].name %></p>
</div>
</button>
<dialog class="js-dialog-content m-widget-dialog">
  <div class="m-widget-dialog__outer">
<button class="js-dialog-close m-widget-dialog__close"><span>閉じる</span></button>
<div class="m-widget-dialog__content">
<img alt="<%= commentator[i].name %>" src="/img/special/camp-report2025/<%= commentator[i].image %>" />
<b class="m-widget-dialog__heading"><%= commentator[i].name %></b>
<p class="m-widget-dialog__text"><%- commentator[i].text %></p>
</div>
</div><!-- /.m-widget-dialog__outer -->
</dialog>
</div>
</li>
<% } %>
</ul>
<ul class="c-guestList">
<li class="c-guestList__item c-guestList__item--text">
<p class="c-guestList__title">実況</p>
</li>
<% for (var i = 0; i < announcer.length; i++) { %>
<li class="c-guestList__item">
<div class="js-dialog">
<button class="js-dialog-open c-guestList__dialog">
<div class="c-guestList__image">
<img alt="<%= announcer[i].name %>" src="/img/special/camp-report2025/<%= announcer[i].image %>" />
<p class="c-guestList__text"><%= announcer[i].name %></p>
</div>
</button>
<dialog class="js-dialog-content m-widget-dialog">
<div class="m-widget-dialog__outer">
<button class="js-dialog-close m-widget-dialog__close"><span>閉じる</span></button>
<div class="m-widget-dialog__content">
<img alt="<%= announcer[i].name %>" src="/img/special/camp-report2025/<%= announcer[i].image %>" />
<b class="m-widget-dialog__heading"><%= announcer[i].name %></b>
<p class="m-widget-dialog__text"><%- announcer[i].text %></p>
</div>
</div><!-- /.m-widget-dialog__outer -->
</dialog>
</div>
</li>
<% } %>
</ul>
</div>
</section><!-- /.l-pageGuest -->